In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_pickle("cache/Sonntagsfrage_cleaned.pkl")

FileNotFoundError: [Errno 2] No such file or directory: 'Sonntagsfrage_cleaned.pkl'

In [3]:
df.to_csv("Sonntagsfrage_cleaned.csv", index=False)
df.to_pickle("Sonntagsfrage_cleaned.pkl")

In [4]:
df.groupby(by=["year","org"]).count()

                     datum  month  week_of_year  CDU/CSU  SPD  GRÃœNE  FDP  \
year org
1994 politbarometer      1      1             1        1    1      1    1
1998 allensbach         14     14            14       14   14     14   14
     dimap              37     37            37       37   37     37   37
     emnid              36     36            36       36   36     36   36
     forsa              56     56            56       56   56     56   56
...                    ...    ...           ...      ...  ...    ...  ...
2024 emnid              11     11            11       11   11     11   11
     forsa              40     40            40       40   40     40   40
     gms                 5      5             5        5    5      5    5
     insa               82     82            82       82   82     82   82
     politbarometer     13     13            13       13   13     13   13

                     LINKE  AfD  FW  BSW  PDS  Rechte  PIRATEN  Linke.PDS  \
year org
1994 politbarometer      0    0   0    0    1       0        0          0
1998 allensbach          0    0   0    0   13       0        0          0
     dimap               0    0   0    0   37       0        0          0
     emnid               0    0   0    0   36      28        0          0
     forsa               0    0   0    0   56      14        0          0
...                    ...  ...  ..  ...  ...     ...      ...        ...
2024 emnid              11   11   4   10    0       0        0          0
     forsa              27   40  14   38    0       0        0          0
     gms                 5    5   0    0    0       0        0          0
     insa               82   82  54   76    0       0        0          0
     politbarometer     12   13   3   13    0       0        0          0

                     REP/DVU  REP
year org
1994 politbarometer        0    0
1998 allensbach            0   10
     dimap                37    0
     emnid                 0    0
     forsa                 0    0
...                      ...  ...
2024 emnid                 0    0
     forsa                 0    0
     gms                   0    0
     insa                  0    0
     politbarometer        0    0

[173 rows x 17 columns]

In [7]:
df[(df['year'] == 2015) & (df['org'] == "dimap")]['FW'].values

array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
      dtype=object)

In [6]:
df = df.replace(r'^\s*$', np.nan, regex=True)

In [11]:
df["datum"].max()

Timestamp('2024-10-12 00:00:00')

In [9]:
df

,datum,year,month,week_of_year,org,CDU/CSU,SPD,GRÃœNE,FDP,LINKE,AfD,FW,BSW,PDS,Rechte,PIRATEN,Linke.PDS,REP/DVU,REP
0,1998-09-18,1998,9,38,politbarometer,37.5,39.5,6.0,5.5,NaN,NaN,NaN,NaN,4.5,NaN,NaN,NaN,NaN,NaN
1,1998-09-11,1998,9,37,politbarometer,37,41,6,6,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN
2,1998-09-04,1998,9,36,politbarometer,38,41,6,5,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN
3,1998-08-14,1998,8,33,politbarometer,38,42,6,5,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN
4,1998-07-17,1998,7,29,politbarometer,37,42,7,5,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5569,2006-02-01,2006,2,5,forsa,41,31,8,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN,NaN
5570,2006-01-25,2006,1,4,forsa,39,31,8,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN,NaN
5571,2006-01-18,2006,1,3,forsa,38,31,7,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN,NaN
5572,2006-01-11,2006,1,2,forsa,37,31,8,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN,NaN
5573,2006-01-04,2006,1,1,forsa,37,32,9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN,NaN