In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle("Sonntagsfrage.pkl")

In [4]:
df.columns

Index(['index', 'Unnamed_1', 'CDU/CSU', 'SPD', 'GRÜNE', 'FDP', 'LINKE',
       'Sonstige', 'Unnamed_8', 'Befragte', 'Zeitraum', 'AfD', 'FW', 'BSW',
       'Unnamed_11', 'PDS', 'Rechte', 'PIRATEN', 'Linke.PDS', 'REP/DVU',
       'Unnamed_10', 'Unnamed_9', 'Nichtwähler/Unentschl.', 'REP'],
      dtype='object')

In [5]:
cols = ['CDU/CSU', 'SPD', 'GRÜNE', 'FDP', 'LINKE','AfD', 'FW', 'BSW', 'PDS', 'Rechte', 'PIRATEN', 'Linke.PDS', 'REP/DVU', 'REP']

In [8]:
df[cols].to_pickle("Sonntagsfrage_cleaned.pkl")

In [9]:
df[cols].to_csv("Sonntagsfrage_cleaned.csv")

In [18]:
df_cleaned = df[cols]

In [19]:
df_cleaned.reset_index(inplace=True)
df_cleaned['s_datum'] = df_cleaned['datum']
#df_cleaned['datum'] = pd.to_datetime(df_cleaned['s_datum'], format='%d.%m.%Y', errors='coerce')
df_cleaned.loc[:, 'datum'] = pd.to_datetime(df_cleaned['s_datum'], format='%d.%m.%Y', errors='coerce')

C:\Users\Markus\AppData\Local\Temp\ipykernel_6816\2057824381.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['s_datum'] = df_cleaned['datum']
C:\Users\Markus\AppData\Local\Temp\ipykernel_6816\2057824381.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['datum'] = pd.to_datetime(df_cleaned['s_datum'], format='%d.%m.%Y', errors='coerce')

In [20]:
df_cleaned = df_cleaned.dropna(subset=['datum'])

In [21]:
df_cleaned

,datum,org,CDU/CSU,SPD,GRÜNE,FDP,LINKE,AfD,FW,BSW,PDS,Rechte,PIRATEN,Linke.PDS,REP/DVU,REP,s_datum
0,2007-12-06,dimap,40,28,9,9,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06.12.2007
1,2007-11-15,dimap,41,30,9,8,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.11.2007
2,2007-11-01,dimap,40,30,8,8,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01.11.2007
3,2007-10-18,dimap,41,28,10,7,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.10.2007
4,2007-10-04,dimap,40,27,10,8,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04.10.2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5563,2009-11-27,politbarometer,35,24,10,13,12,,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,27.11.2009
5564,2009-10-30,politbarometer,36,22,11,13,13,,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,30.10.2009
5565,2009-10-16,politbarometer,35,22,11,14,13,,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,16.10.2009
5566,2009-10-02,politbarometer,35,22,11,14,13,,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,02.10.2009
5567,2009-09-27,politbarometer,33.8,23.0,10.7,14.6,11.9,,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,27.09.2009

In [24]:
df_cleaned.loc[:, 'month'] = df_cleaned['datum'].dt.month
df_cleaned.loc[:, 'year'] = df_cleaned['datum'].dt.year
df_cleaned.loc[:, 'week_of_year'] = df_cleaned['datum'].dt.isocalendar().week

In [27]:
ccols = ['datum', 'year', 'month', 'week_of_year', 'org', 'CDU/CSU', 'SPD', 'GRÜNE', 'FDP', 'LINKE', 'AfD', 'FW', 'BSW', 'PDS', 'Rechte', 'PIRATEN', 'Linke.PDS',
            'REP/DVU', 'REP']
df_cleaned[ccols].to_pickle("Sonntagsfrage_cleaned.pkl")
df_cleaned[ccols].to_csv("Sonntagsfrage_cleaned.csv")