In [1]:
import pandas as pd

In [3]:
df = pd.read_pickle("Sonntagsfrage_cleaned.pkl")

In [4]:
df

,datum,year,month,week_of_year,org,CDU/CSU,SPD,GRÜNE,FDP,LINKE,AfD,FW,BSW,PDS,Rechte,PIRATEN,Linke.PDS,REP/DVU,REP
0,2007-12-06,2007,12,49,dimap,40,28,9,9,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2007-11-15,2007,11,46,dimap,41,30,9,8,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2007-11-01,2007,11,44,dimap,40,30,8,8,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2007-10-18,2007,10,42,dimap,41,28,10,7,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2007-10-04,2007,10,40,dimap,40,27,10,8,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5563,2009-11-27,2009,11,48,politbarometer,35,24,10,13,12,,NaN,NaN,NaN,NaN,,NaN,NaN,NaN
5564,2009-10-30,2009,10,44,politbarometer,36,22,11,13,13,,NaN,NaN,NaN,NaN,,NaN,NaN,NaN
5565,2009-10-16,2009,10,42,politbarometer,35,22,11,14,13,,NaN,NaN,NaN,NaN,,NaN,NaN,NaN
5566,2009-10-02,2009,10,40,politbarometer,35,22,11,14,13,,NaN,NaN,NaN,NaN,,NaN,NaN,NaN
5567,2009-09-27,2009,9,39,politbarometer,33.8,23.0,10.7,14.6,11.9,,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN

In [5]:
df.groupby(by=["year","org"]).count()

                     datum  month  week_of_year  CDU/CSU  SPD  GRÜNE  FDP  \
year org
1994 politbarometer      1      1             1        1    1      1    1
1998 allensbach         14     14            14       14   14     14   14
     dimap              37     37            37       37   37     37   37
     emnid              36     36            36       36   36     36   36
     forsa              56     56            56       56   56     56   56
...                    ...    ...           ...      ...  ...    ...  ...
2024 emnid              11     11            11       11   11     11   11
     forsa              38     38            38       38   38     38   38
     gms                 5      5             5        5    5      5    5
     insa               79     79            79       79   79     79   79
     politbarometer     13     13            13       13   13     13   13

                     LINKE  AfD  FW  BSW  PDS  Rechte  PIRATEN  Linke.PDS  \
year org
1994 politbarometer      0    0   0    0    1       0        0          0
1998 allensbach          0    0   0    0   14       0        0          0
     dimap               0    0   0    0   37       0        0          0
     emnid               0    0   0    0   36      36        0          0
     forsa               0    0   0    0   56      56        0          0
...                    ...  ...  ..  ...  ...     ...      ...        ...
2024 emnid              11   11  11   11    0       0        0          0
     forsa              38   38  38   38    0       0        0          0
     gms                 5    5   0    0    0       0        0          0
     insa               79   79  79   79    0       0        0          0
     politbarometer     13   13  13   13    0       0        0          0

                     REP/DVU  REP
year org
1994 politbarometer        0    0
1998 allensbach            0   14
     dimap                37    0
     emnid                 0    0
     forsa                 0    0
...                      ...  ...
2024 emnid                 0    0
     forsa                 0    0
     gms                   0    0
     insa                  0    0
     politbarometer        0    0

[173 rows x 17 columns]

In [7]:
df[(df['year'] == 2015) & (df['org'] == "dimap")]

,datum,year,month,week_of_year,org,CDU/CSU,SPD,GRÜNE,FDP,LINKE,AfD,FW,BSW,PDS,Rechte,PIRATEN,Linke.PDS,REP/DVU,REP
1641,2015-12-18,2015,12,51,dimap,38,24,10,4,8,10,,,NaN,NaN,NaN,NaN,NaN,NaN
1642,2015-12-03,2015,12,49,dimap,37,25,11,4,8,10,,,NaN,NaN,NaN,NaN,NaN,NaN
1643,2015-11-20,2015,11,47,dimap,37,25,10,5,8,9,,,NaN,NaN,NaN,NaN,NaN,NaN
1644,2015-11-05,2015,11,45,dimap,37,24,11,5,9,8,,,NaN,NaN,NaN,NaN,NaN,NaN
1645,2015-10-23,2015,10,43,dimap,38,24,11,5,9,8,,,NaN,NaN,NaN,NaN,NaN,NaN
1646,2015-10-01,2015,10,40,dimap,40,24,10,5,9,6,,,NaN,NaN,NaN,NaN,NaN,NaN
1647,2015-09-11,2015,9,37,dimap,42,25,11,4,9,4,,,NaN,NaN,NaN,NaN,NaN,NaN
1648,2015-09-03,2015,9,36,dimap,42,24,12,4,8,4,,,NaN,NaN,NaN,NaN,NaN,NaN
1649,2015-08-14,2015,8,33,dimap,42,24,11,4,9,4,,,NaN,NaN,NaN,NaN,NaN,NaN
1650,2015-07-30,2015,7,31,dimap,42,24,11,5,9,4,,,NaN,NaN,NaN,NaN,NaN,NaN
1651,2015-07-17,2015,7,29,dimap,41,24,11,6,9,4,,,NaN,NaN,NaN,NaN,NaN,NaN
1652,2015-07-02,2015,7,27,dimap,40,25,11,5,10,5,,,NaN,NaN,NaN,NaN,NaN,NaN
1653,2015-06-19,2015,6,25,dimap,40,25,10,5,10,5,,,NaN,NaN,NaN,NaN,NaN,NaN
1654,2015-06-03,2015,6,23,dimap,40,25,10,6,9,5,,,NaN,NaN,NaN,NaN,NaN,NaN
1655,2015-05-21,2015,5,21,dimap,41,26,9,5,9,5,,,NaN,NaN,NaN,NaN,NaN,NaN
1656,2015-05-07,2015,5,19,dimap,40,25,10,4,9,6,,,NaN,NaN,NaN,NaN,NaN,NaN
1657,2015-04-24,2015,4,17,dimap,41,24,11,4,8,6,,,NaN,NaN,NaN,NaN,NaN,NaN
1658,2015-04-02,2015,4,14,dimap,41,25,10,4,9,6,,,NaN,NaN,NaN,NaN,NaN,NaN
1659,2015-03-13,2015,3,11,dimap,41,24,11,4,9,6,,,NaN,NaN,NaN,NaN,NaN,NaN
1660,2015-03-05,2015,3,10,dimap,41,25,10,4,9,6,,,NaN,NaN,NaN,NaN,NaN,NaN
1661,2015-02-13,2015,2,7,dimap,42,24,10,3,8,7,,,NaN,NaN,NaN,NaN,NaN,NaN
1662,2015-02-05,2015,2,6,dimap,41,25,10,3,9,6,,,NaN,NaN,NaN,NaN,NaN,NaN
1663,2015-01-16,2015,1,3,dimap,41,25,10,4,8,6,,,NaN,NaN,NaN,NaN,NaN,NaN
1664,2015-01-08,2015,1,2,dimap,41,26,10,3,8,6,,,NaN,NaN,NaN,NaN,NaN,NaN